{
  "presets": [
    "@babel/preset-react",
    [ "@babel/preset-env", { "targets": { "browsers": ["last 20 versions"] } } ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
