.text-transition
	position relative
	.text-transition_placeholder
		visibility: hidden;
	.text-transition_inner
		display block
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		& > div
			position absolute 
