.text-transition
	position relative
	height 100%
	.placeholder
		visibility hidden
	.text-transition-inner
		display block
		position absolute
		top 0
		left 0
		height 115%
		width 100%
		.text
			position absolute
			max-width 100%
			display inline-block
