html, body {
	min-height      : 100%;
	margin          : 0;
	color           : #333;
	font-family     : sans-serif;
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;
}

.center {
	padding         : 20px;
	display         : flex;
	flex-direction  : column;
	align-items     : center;
	justify-content : space-around;
}

.output {
	margin-top  : 20px;
	font-weight : bold;
	text-align  : center;
}

.transition-text {
  font-size: 86px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}